body
{
	background-color: #F8F7F7;
}

header
{
	text-align: center;
}

main
{
	text-align: center;
}

footer
{
	font-family: Minecraft;
	text-align: center;
}

A.info SPAN
{
		display: none;
}

A.info
{
	position: relative;
}

A.info:hover SPAN
{
	display:block;
	position:absolute;
	top:2em; left:2em; width:15em;
	border:1px solid #000;
	background-color:#FFF;
	color:#000;
	text-align: justify;
	padding:5px;
}

.button
{
	margin-top: 10px;
	padding: 2px 25px 2px 25px;
	background-color: #45AEFF;
	border: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 3px;
}

.image1
{
	display: inline-block;
}

.input
{
	width: 225px;
	height: 27px;
	margin: 10px;
}

.title
{

	color: #A4A4A4;
	font-size: 1.5em;
}

.forms
{
	display: table-caption;
}

#info_register
{
	z-index: 1;
}

#forms
{
	border: 0.1px solid #D8D8D8;
	margin-bottom: 35px;
	background-color: #FEFEFE;
	display: inline-block;
}

#reset
{
	display: none;
	margin-bottom: 25px;
}

#by
{
	font-size: 0.9em;
}

#iphone
{
	width: 250px;
	height: 500px;
	margin-right: 40px;
	margin-bottom: 50px;
	border-radius: 35px;
}

#copyright
{
	font-size: 0.8em;
}

#subscribe
{
	margin-bottom: 10px;
}

#title
{
	font-family: Main Title;
	font-size: 5.5em;
}

#msg_signin, #msg_register, #msg_reset
{
	display: none;
	font-size: 0.85em;
	font-weight: bold;
	font-family: sans-serif;
}

@media screen and (max-width: 768px)
{
	.image1
	{
		display: none;
	}
}
