# RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# <FilesMatch .htaccess>
#     order allow,deny
#     deny from all
# </FilesMatch>

# <FilesMatch config.php>
#     order allow,deny
#     deny from all
# </FilesMatch>