.logo {
  margin: auto;
  width: 260px;
}

.dont-have-an-account {
  font-weight: 500;
}

.forgot-link {
  color: #A9ABAC;
}

.submit-button {
  border-color: #44C2B4;
  color: #44C2B4;
  border-width: 2px;
  font-weight: 600;
  background-color: transparent;
}

.submit-button:hover {
  border-color: #44C2B4;
  color: white;
  background-color: #44C2B4;
}